.cbase {
    background-color: #232223;
}
.cblack {
    color: #151515;
}
.cgrey {
    color: #505050;
}
.cred {
    color: #A53C23;
}
.cgreen {
    color: #7B9246;
}
.cyellow {
    color: #D3A04D;
}
.cblue {
    color: #6C99BB;
}
.cpink {
    color: #9F4E85;
}
.csky {
    color: #7DD6CF;
}
.cmetal {
    color: #D0D0D0;
}
.cwhite {
    color: #F5F5F5;
}